# AWS Configuration
aws_region = "us-east-1"

# Application Configuration
app_name = "demo-devops"
env_name = "dev"

# Instance Configuration
instance_type = "t3.micro"
min_size      = 1
max_size      = 3

# Network Configuration
vpc_cidr = "10.0.0.0/16"

# Monitoring Configuration
enable_enhanced_monitoring = true

# Tags
tags = {
  Terraform   = "true"
  Environment = "dev"
  Project     = "demo-devops"
}
